{
  "plugins": [
    "transform-inline-environment-variables",
    "transform-strict-mode",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-class-properties",
    "lodash"
  ],
  "presets": [
    [
      "env"
    ]
  ]
}
